<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageMode" value="Local" />
    <add key="LocalDbPath" value="Data/leqi_audit.db" />
    <add key="LocalProjectDataPath" value="Data/Projects" />
    <add key="AppServer" value="https://leqisoft.com:8957/api/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- C1 assemblies: actual 4.0.20172.271, redirect from any old version -->
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Document.4" publicKeyToken="944ae1ea0e47ca04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.FlexViewer.4" publicKeyToken="944ae1ea0e47ca04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.4" publicKeyToken="944ae1ea0e47ca04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Command.4" publicKeyToken="e808566f358766d8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Input.4" publicKeyToken="7e7ff60f0c214f9a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1FlexGrid.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Ribbon.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1SplitContainer.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1TileControl.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1SuperTooltip.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Sizer.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Gauge.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1InputPanel.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Editor.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.FlexChart.4" publicKeyToken="3aa2920c09e0aefd" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Report.4" publicKeyToken="41780e2fc605e636" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20201.416" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.Win.C1Themes.4" publicKeyToken="594a0605db190bb9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20172.271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Excel.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20201.416" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Report.4" publicKeyToken="594a0605db190bb9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20201.416" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.C1Word.4" publicKeyToken="79882d576c6336da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20201.416" newVersion="4.0.20201.416" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>